* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #fff;
    color: #000
}

#inputBarMargin {
    padding-top: 150px;
    padding-bottom: 50px;
}

.inputBar {
    display: block;
    margin-top: 100px;
    margin: auto;
    height: 45px;
    width: 500px;
    border: 1px solid lightgrey;
    border-radius: 50px;
    padding: 20px 40px;
}
  
.inputBar:hover {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15), 0 3px 5px 0 rgba(0,0,0,0.1);
}

#display {
    display: block;
    margin: auto;
    text-align: center;
    list-style-type: none;
}

li {
    padding: 7px;
}

#buttonMargin {
    Padding-top: 50px;
}

button {
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px 40px;
    background-color: #74992e;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}